<% include ./partials/header %>


<h1>LOG IN PAGE</h1>


<form action ="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>LOG IN</button>
</form>

<% include ./partials/footer %>
